.wave {
    position: absolute;
    width: 100%;
    height: 100%;
    &.wave1 {
        height: 300px;
        top: 0;
        width: 300%;
        left: -80%;
    }
    &.wave2 {
        height: 180px;
        top: 0;
        width: 200%;
        left: -90%;
    }
    &.wave3 {
        height: 56px;
        top: -50px;
        width: 170%;
        left: -50%;
    }
    svg {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.top-waves {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    // height: 100%;
    overflow: hidden;
}